<footer id="footer" class="footer dark-background">
    <div class="container">
        <h3 class="sitename">HDR Diseño Web</h3>
        <p>Imagina una imagen de marca que te represente al 100%. ¿Te gustaría crearla conmigo? Te ofrezco una asesoría personalizada para encontrar las soluciones perfectas para tu negocio</p>
        <div class="social-links d-flex justify-content-center"><a href=""><i class="bi bi-twitter-x"></i></a><a href=""><i class="bi bi-facebook"></i></a><a href=""><i class="bi bi-instagram"></i></a><a href=""><i class="bi bi-skype"></i></a><a href=""><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="container">
            <div class="copyright"><span>Copyright</span> <strong class="px-1 sitename">HDR Diseño Web</strong> <span>All Rights Reserved</span>
            </div>
            
        </div>
    </div>
</footer>