{% load static %} 
<section id="hero" class="hero section dark-background">
    <div class="container">
        <div class="row gy-4">
            <div class="align-items col-lg-6 d-flex flex-column justify-content-center text-center text-md-start" data-aos="fade-up" data-pg-collapsed>
                <p>¡Bienvenidos a nuestra web!</p>
                <h2>Esta es una version DEMO de nuestra web en Django</h2>
                <p>Aquí, la innovación y la eficiencia se encuentran en cada detalle, gracias a un diseño moderno y funcional. Hemos utilizado tecnologías de vanguardia para ofrecerte una experiencia intuitiva y optimizada</p>
                <div class="d-flex mt-4 justify-content-center justify-content-md-start">
                    <a href="#" class="download-btn"><i class="bi bi-envelope"></i> <span>Contáctame</span></a>
                </div>
            </div>
            <div class="align-items-center col-lg-6 d-flex hero-img order-lg-last" data-aos="zoom-out">
                <img src="{% static 'assets/img/hero.webp' %}" alt="HDR Diseño Web" width="599" sizes="4000px">
            </div>
        </div>
    </div>
</section>