{% load static %}
<section id="faq" class="faq section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Preguntas y respuestas frecuentes</h2>
    </div>
    <!-- End Section Title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">
                <div class="faq-container">
                    <div class="faq-item faq-active">
                        <h3>¿Qué incluye el servicio de diseño web?</h3>
                        <div class="faq-content">
                            <p>El servicio de diseño web incluye la creación de un sitio a medida, adaptable a cualquier dispositivo, con una estructura y diseño que refleje la identidad de tu negocio. Desde la página de inicio hasta el contacto, cada sección se optimiza para ofrecer una experiencia profesional y fácil de usar. El tiempo de desarrollo varía según la complejidad del sitio. Algunos proyectos simples pueden completarse en dos semanas, mientras que otros más detallados pueden requerir hasta dos meses. En promedio, la mayoría de los trabajos se entregan en un plazo de 20 a 30 días.</p>
                        </div><i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->
                    <div class="faq-item">
                        <h3>¿Se paga todo el proyecto al contado?</h3>
                        <div class="faq-content">
                            <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
                        </div><i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->
                    <div class="faq-item">
                        <h3>¿Cómo funciona el mantenimiento web?</h3>
                        <div class="faq-content">
                            <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
                        </div><i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->
                    <div class="faq-item">
                        <h3>¿Cómo funciona el mantenimiento web?</h3>
                        <div class="faq-content">
                            <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
                        </div><i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->
                    <div class="faq-item">
                        <h3>¿Puedo gestionar mis campañas de email marketing por mi cuenta?</h3>
                        <div class="faq-content">
                            <p>Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in</p>
                        </div><i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->
                    <div class="faq-item">
                        <h3>¿Es posible añadir nuevas funciones a mi web en el futuro?</h3>
                        <div class="faq-content">
                            <p>Enim ea facilis quaerat voluptas quidem et dolorem. Quis et consequatur non sed in suscipit sequi. Distinctio ipsam dolore et.</p>
                        </div><i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->
                </div>
            </div>
            <!-- End Faq Column-->
        </div>
    </div>
</section>