{% load static %} 
<div class="container" style="margin-top: 85px; margin-bottom: 85px;">
    <div class="row gy-4 align-items-center features-item" data-pg-collapsed>
        <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="{% static 'assets/img/features-1.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>Te invitamos a descubrir todo lo que nuestra plataforma puede ofrecerte:</h3>
            
            <p class="fst-italic">Lenguajes de programación</p>
            <ul  class="lista-con-iconos">
                <li><i class="bi bi-check-circle"></i> <span>Python: El lenguaje que da vida a la lógica del sitio web. Desde las funcionalidades principales hasta la gestión de la información, Python es el motor que impulsa cada interacción</span></li>
                <li><i class="bi bi-check-circle"></i> <span>HTML: La estructura de cada página web se construye con HTML. Este lenguaje es el esqueleto que organiza el contenido y define la forma en que se muestra a los visitantes</span></li>
                <li><i class="bi bi-check-circle"></i> <span>CSS: El diseño y la estética del sitio web son obra de CSS. Este lenguaje de estilos da personalidad a cada elemento, desde los colores y las fuentes hasta la disposición de los elementos en la pantalla</span></li>
                <li><i class="bi bi-check-circle"></i> <span>JavaScript: La interactividad y el dinamismo del sitio web son posibles gracias a JavaScript. Este lenguaje permite crear efectos visuales, animaciones y funcionalidades que mejoran la experiencia del usuario</span></li>
            </ul>
            <p class="fst-italic">Frameworks y librerías</p>
            <ul class="lista-con-iconos">
                <li><i class="bi bi-check-circle"></i><span> Django: La base del sitio web es Django, un framework de desarrollo web de alto nivel. Gracias a Django, la creación de sitios web complejos y robustos es más eficiente y organizada</span>
                </li>
                <li><i class="bi bi-check-circle"></i><span>Bootstrap: El diseño responsivo y adaptable a dispositivos móviles es obra de Bootstrap. Este framework de diseño CSS facilita la creación de interfaces intuitivas y atractivas para todo tipo de pantallas</span>
                </li>
            </ul>
            <p class="fst-italic">Bases de datos</p>
            <ul  class="lista-con-iconos">
                <li><i class="bi bi-check-circle"></i><span> PostgreSQL: La información del sitio web se almacena y gestiona en PostgreSQL, una base de datos robusta y escalable. Utilizamos PostgreSQL para garantizar la seguridad, la integridad y la disponibilidad de tus datos</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row gy-4 align-items-center features-item" data-pg-collapsed>
        <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'assets/img/features-2.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
            <h3>Funcionalidades clave</h3>
            <ul class="lista-con-iconos">
                <li><i class="bi bi-check-circle"></i><span> Diseño web moderno y responsivo: Tu sitio web ofrece una experiencia visual atractiva y se adapta a la perfección a cualquier dispositivo, desde ordenadores de escritorio hasta móviles y tablets</span>
                </li>
                <li><i class="bi bi-check-circle"></i><span> Navegación intuitiva: Los visitantes pueden explorar tu sitio web de forma sencilla gracias a un menú de navegación claro y fácil de usar</span>
                </li>
            </ul>
        </div>
    </div>
</div>