{% load static %} 
<!-- Pricing Section -->
<section id="pricing" class="pricing section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Precios</h2>
        <p>Servicios de mantenimiento web</p>
    </div>
    <!-- End Section Title -->
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <div class="d-flex g-4 justify-content-center row">
            <!-- End Pricing Item -->
            <div class="col-lg-4">
                <div class="pricing-item featured">
                    <h3>WP Básico</h3>
                    <div class="icon">
                        <i class="bi bi-rocket"></i>
                    </div>
                    <h4><sup>€</sup>49,99<span> / mes</span></h4>
                    <ul>
                        <li>
                            <i class="bi bi-check"></i> <span>Actualizaciones de WordPress</span>
                        </li>
                        <li>
                            <i class="bi bi-check"></i> <span>Actualizaciones de Plugins</span>
                        </li>
                        <li>
                            <i class="bi bi-check"></i> <span>Actualizaciones de temas</span>
                        </li>
                        <li>
                            <i class="bi bi-check"></i> <span>Configuración de seguridad</span>
                        </li>
                        <li>
                            <i class="bi bi-check"></i> <span>Optimización de velocidad</span>
                        </li>
                        <li>
                            <i class="bi bi-check"></i> <span>Copias de seguridad</span>
                        </li>
                        <li>
                            <i class="bi bi-check"></i> <span>Soporte respuesta 24/48 horas</span>
                        </li>
                        <li>
                            <i class="bi bi-x"></i> <span>Horas de desarrollo 40 &euro;/hora</span>
                        </li>
                        <li>
                            <i class="bi bi-x"></i> <span>Rediseño web</span>
                        </li>
                        <li>
                            <i class="bi bi-x"></i> <span>No válido WooCommerce</span>
                        </li>
                    </ul>
                    <div class="text-center"><a href="#" class="buy-btn">Contactame</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing Item -->
            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>WP Premium</h3>
                    <div class="icon">
                        <i class="bi bi-send"></i>
                    </div>
                    <h4><sup>€</sup>79,99<span> / mes</span></h4>
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span>
                        </li>
                        <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span>
                        </li>
                        <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span>
                        </li>
                        <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span>
                        </li>
                        <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span>
                        </li>
                    </ul>
                    <div class="text-center"><a href="#" class="buy-btn">Contactame</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing Item -->
        </div>
    </div>
</section>