{% load static %}
<section id="featured" class="featured section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Diseño flexible, funcional y atractivo</h2>
        <p>Una experiencia online fluida y satisfactoria, navegación intuitiva y diseño centrado en el usuario</p>
    </div>
    <div class="container">
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
            <div class="col-md-4">
                <div class="card">
                    <div class="img">
                        <img src="{% static 'assets/img/cards-4.png' %}" alt="" class="img-fluid">
                        <div class="icon">
                            <i class="bi bi-hdd-stack"></i>
                        </div>
                    </div>
                    <h2 class="title">Responsive</h2>
                    <p class="text-center">
                        Una web que se adapta a cualquier dispositivo para brindar una experiencia óptima </p>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <div class="img">
                        <img src="{% static 'assets/img/cards-2.png' %}" alt="" class="img-fluid">
                        <div class="icon">
                            <i class="bi bi-brightness-high"></i>
                        </div>
                    </div>
                    <h2 class="title">Multipropósito</h2>
                    <p class="text-center">
                        Desde una tienda online hasta un sitio personal o profesional, creamos la web que buscas </p>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <div class="img">
                        <img src="{% static 'assets/img/cards-6.png' %}" alt="" class="img-fluid">
                        <div class="icon">
                            <i class="bi bi-calendar4-week"></i>
                        </div>
                    </div>
                    <h2 class="title">Diseño Atractivo</h2>
                    <p class="text-center">
                        Estética que hace la diferencia. Atrae a tus visitantes con un diseño actual, elegante y llamativo</p>
                </div>
            </div>
            </div>
    </div>
</section>